<nav class="main-nav">
    <ul class="main-nav__items">
        <li class="main-nav__item">
        <a routerLink="header" routerLinkActive="active">Home</a>
        </li>
        <li class="main-nav__item">
            <a routerLink="Aboutus" routerLinkActive="active">AboutUs</a>
        </li>
        <li class="main-nav__item">
            <a routerLink="login"  routerLinkActive="active">Login</a>
        </li>
        <li class="main-nav__item">
            <a routerLink="signup"  routerLinkActive="active">Signup</a>
        </li>
        <li class="main-nav__item">
            <a routerLink="updatepassword"  routerLinkActive="active">updatepassword</a>
        </li>
      
        
</ul>
</nav>